<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h1 style="text-align:center">Book Details</h1>
<button type="button" style="margin-left:200px"> <a href="{% url 'viewdetails' %}">User Details</a>  </button>
<button type="button" style="margin-left:500px"> <a href="{% url 'Book' %}">Add Book Details</a>  </button>
<table>
    <tr>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>Book Img</th>
        <th>Delete  </th>
    </tr>
    {% for b in object %}
    <tr>
        <td>{{b.Book_Name}}</td>
        <td>{{b.Author_Name}}</td>
        <td><img src="{{b.File_Data.url}}" style="height:100px;width:100px"></td>
        <td><a href="{% url 'delete_bookdetails' b.id %}"> Delete</a></td>
        {% endfor %}
    </tr>
</table>
</body>
</html>